<div data-id="autoSaveBar" class="ws-modal-container catch-focus" role="dialog" aria-labelledby="autoSaveBar-title" aria-describedby="autoSaveBar-description">
	<div class="ws-files">
		<div class="ws-files-header">
			<h2 id="autoSaveBar-title" class="ws-files-title">${files.saveTitle}</h2>
		</div>

		<div class="ws-files-content">
			<div class="ws-files-content-inner">
				<p id="autoSaveBar-description" class="ws-files-instructions">
					${files.saveName}
				</p>
				
				<input data-id="autoSaveInput" class="ws-form-field ws-form-underscore init-focus" placeholder="${files.saveNamePh}" type="text" tabindex="0">
				
				<div data-id="fileDialogErrorMessage" >
					<div data-id="fileDialogErrorMessageContent" class="ws-message ws-message--error"></div>
				</div>
			</div>

			<ul class="ws-files-btn-container" role="presentation">
				<li class="ws-files-btn-panel">
					<button data-id="autoSaveButton" class="ws-files-btn" role="button" tabindex="0">
						<span class="ws-icon-download-cloud ws-files-btn-icon"></span>
						<span>${files.save}</span>
					</button>
				</li>

				<li class="ws-files-btn-panel">
					<button data-id="cancelAutoSaveButton" class="ws-files-btn" role="button" tabindex="0">
						<span class="ws-icon-cancel-circled ws-files-btn-icon"></span>
						<span>${files.cancel}</span>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>

<div data-id="autoUploadBar" class="ws-modal-container catch-focus" role="dialog" aria-labelledby="autoUploadBar-title" aria-describedby="autoUploadBar-description">
	<div  class="ws-files">
		<div class="ws-files-header">
			<h2 id="autoUploadBar-title" class="ws-files-title">${files.openTitle}</h2>
		</div>

		<div class="ws-files-content">
			<div class="ws-files-content-inner">
				<p id="autoUploadBar-description" class="ws-files-instructions">
					${files.openInst}
				</p>

				<div data-id="fileDialogTransferProgressBar" class="ws-progressbar-container">
					<div data-id="progress" class="ws-progress">
						<div style="width: 0%;" class="ws-progress-bar">
							<span class="ws-progress-text">${files.progress} <em>0%</em></span>
						</div>
					</div>
				</div>

				<div data-id="fileDialogErrorMessage" >
					<div data-id="fileDialogErrorMessageContent" class="ws-message ws-message--error"></div>
				</div>
			</div>

			<ul class="ws-files-btn-container" role="presentation">
				<li class="ws-files-btn-panel">
					<form data-id="autoFileupload" tabindex="-1" role="presentation">
						<input data-id="autoUploadfileDialogTransferBarClientId" name="uuid" type="hidden">

						<input data-id="autoFileInput" id="webswingUploadBrowse" name="files[]" accept="" type="file" class="ws-files-btn--hidden" aria-hidden="true" tabindex="-1" />

						<button data-id="uploadAutoUploadButton" class="ws-files-btn init-focus" role="button" type="button" tabindex="0">
							<span class="ws-icon-upload-cloud ws-files-btn-icon"></span>
							<span>${files.openBrowse}</span>
						</button>
					</form>
				</li>

				<li class="ws-files-btn-panel">
					<button data-id="cancelAutoUploadButton" class="ws-files-btn" role="button" type="button" tabindex="0">
						<span class="ws-icon-cancel-circled ws-files-btn-icon"></span>
						<span>${files.cancel}</span>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>

<div data-id="uploadBar" class="ws-filebar" role="alert">
	<div data-id="fileDropArea" class="ws-filebar-dropArea">
		<p class="ws-filebar-dropArea-label">${files.dnd}</p>
	</div>
	<div data-id="fileDialogTransferProgressBar" class="ws-progressbar-container">
		<div data-id="progress" class="ws-progress">
			<div style="width: 0%;" class="ws-progress-bar">
				<span class="ws-progress-text">${files.progress} <em>0%</em></span>
			</div>
		</div>
	</div>
	<div data-id="fileDialogErrorMessage" >
		<div data-id="fileDialogErrorMessageContent" class="ws-message ws-message--error"></div>
	</div>
	<div data-id="fileDialogSuccessMessage" >
		<div data-id="fileDialogSuccessMessageContent" class="ws-message ws-message--success"></div>
	</div>
	
	<div class="ws-toolbar-container">
		<div data-id="fileActionButtonGroup" class="ws-btn-group">
			<button data-id="downloadSelectedButton" class="ws-btn ws-btn--xs ws-icon-download-cloud" title="${files.downloadTtip}"> ${files.download}</button>
			<div data-id="fileUploadBtn" class="ws-btn ws-btn--xs ws-filebar-upload ">
				<span><span class="ws-icon-upload-cloud"> </span>${files.upload}</span>
			</div>
			<form class="ws-filebar-uploadform" data-id="fileupload">
				<input data-id="fileDialogTransferBarClientId" name="uuid" type="hidden">
				<input accept="" data-id="fileInput" name="files[]" class="ws-filebar-inputupload" type="file">
			</form>
			<button data-id="deleteSelectedButton" class="ws-btn ws-btn--xs ws-icon-trash-empty" title="${files.deleteTtip}"> ${files.delete}</button>
		</div>
		<button data-id="cancelBtn" class="ws-btn ws-btn--xs ws-right ws-icon-cancel-circled"> ${files.cancel}</button>
	</div>
</div>

<div data-id="downloadLinkDialog" class="ws-modal-container catch-focus" role="dialog" aria-labelledby="downloadLink-title" aria-describedby="downloadLink-description">
    <div class="ws-downloadlink">
        <div id="downloadLink-title" data-id="title" class="ws-downloadlink-header"></div>
        <div class="ws-downloadlink-content">
            <div id="downloadLink-description" data-id="message" class="ws-downloadlink-message"></div>
            
            <div class="ws-downloadlink-btnPanel">
				<button data-id="downloadLinkButton" class="ws-btn ws-btn--xs init-focus" role="button" tabindex="0"></button>
				<button data-id="cancelDownloadLinkButton" class="ws-btn ws-btn--xs ws-icon-cancel-circled" role="button" tabindex="0">${files.cancel}</button>
            </div>
        </div>
    </div>
</div>
